<ul>
    <li><a href="{{ '/campaign' }}"> Show All Campaigns</a></li>
    <li><a href="{{ '/campaign/new' }}"> Create New Campaign</a></li>
    <li><a href="{{ '/characters' }}">Show All Characters</a></li>
    <li><a href="{{ '/characters/new' }}">Create New Character</a></li>
    <li><a href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a></li>
</ul>